/src/main/resources/webapp/doc/rest/*.png
/src/main/resources/webapp/doc/rest/*.map
/src/main/resources/webapp/doc/rest/*.js
/src/main/resources/webapp/doc/rest/*.css
/src/main/resources/webapp/doc/rest/oauth2-redirect.html